html {
  scroll-behavior: smooth;
}

#skills {
  padding: 40px;
  color: white;
}

.skill {
  margin: 10px 0;
}

.bar {
  background: #333;
  height: 10px;
  border-radius: 5px;
}

.fill {
  background: cyan;
  height: 10px;
  border-radius: 5px;
}
